body{
  background: white !important;
}
.banner{
  height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1{
    font-size: 3.2em;
  }
  p{
    margin: 2% 20% 0 0;
    font-size: 1.2em;
  }
}
.banner-content{
  margin: 0 15% 5% 5%;
}
#new_subscriber{
  display: flex;
  align-items: baseline;
  margin-top: 2%;
  font-family: "Gelasio, serif"
}
#new_subscriber input{
  border: 1px solid #ced4da;
}
.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 20px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.30;
  text-decoration: none;
  font-size: 18px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

@media (max-width: 640px) {
  .banner{
    h1{
      font-size: 1.8em;
    }
    p{
      margin: 4% 0;
      font-size: 1em;
    }
  }
  .banner-content{
    margin: 10% 10% 30% 4%;
  }
  #new_subscriber{
    margin-top: 7%;
  }
}
