<div class="banner">
  <div class="banner-content">
    <h1>LA PREMIERE GALERIE D'ART DE TROC.</h1>
    <p>The Barter Gallery vous permet d'offrir en ligne votre troc aux artistes en échange de leurs œuvres. Un séjour à l'étranger, une leçon privée, des travaux à domicile ou même une autre œuvre d'art...l'art n'a jamais été aussi accessible !</p>
    <p>Inscrivez-vous afin d'obtenir accès aux œuvres disponibles :</p>
    <%= simple_form_for(Subscriber.new) do |f| %>
      <%= f.input :email, label: false, placeholder: "Votre e-mail" %>
      <%= f.button :submit, "S'inscrire" %>
    <% end %>
  </div>
</div>
<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/thebartergallery/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/The-Barter-Gallery-100320004838767/" target="_blank"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    contact@bartergallery.art
  </div>
</div>

