<div class="banner">
  <div class="banner-content">
    <h1>LA PREMIERE GALERIE DE TROC.</h1>
    <p>The Barter Gallery vous permet d'offrir votre troc aux artistes en échange de leurs œuvres. Un séjour à l'étranger, une leçon privée, une œuvre originale ou des travaux à domicile... la seule limite est votre imagination !</p>
  </div>
</div>


