<div class="subscriber-banner">
  <div class="subscriber-banner-content">
    <h3>Merci ! En raison de l'intérêt considérable nous ne pouvons actuellement accepter qu'un nombre restreint de nouveaux membres. Nous vous contacterons dès que possible.</h3>
  </div>
</div>
