<div class="subscriber-banner">
  <div class="subscriber-banner-content">
    <h3>Merci ! En raison de l'intérêt considérable nous ne pouvons accepter qu'un nombre restreint de nouveaux clients. Nous vous contacterons dès que possible afin de vous donner accès aux oeuvres disponibles.</h3>
  </div>
</div>
